body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa; /* Light gray background */
  background-image: url("Image 12.jpg"); /* Background image */
  background-size: cover;
  background-position: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Semi-transparent white background */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Box shadow for depth */
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #007bff; /* Blue color for headings */
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: #333; /* Dark gray color for labels */
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

button:hover {
  background-color: #0056b3; /* Darker blue color on hover */
}

/* Styling for event information section */
h1 + .form-group,
.form-group select,
.form-group h4 {
  margin-top: 20px;
  color: #007bff; /* Blue color for event section headings */
}

.container {
  margin: 20px;
  margin-left: 130px;
}
/* View */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}

.table th {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table td {
  border: 1px solid #ddd;
  padding: 10px;
}
.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

@media screen and (max-width: 600px) {
  .table th,
  .table td {
    padding: 4px;
  }
}
