footer{
  padding-top: 50px;
  background: #282834;
  color: #b6b7b9;
  padding: 10% 0 5% 0;
}

footer.grid{
  grid-template-columns: 6fr 3fr 3fr;
}

footer p{
  color: #b6b7b9;
  font-size: 15px;
  line-height: 25px;

}

footer.icon i{
margin: 20px 20px 20px 0;
color: #b6b7b9;
}

footer h2{
  color: #fff;
  margin-bottom: 10px;
}

footer li{
  margin-bottom: 20px;
}

footer i{
  color: #7fc142;
  margin: 20px 0;
  margin-right: 20px;

}

footer label{
  margin: 20px 0;
}

.legal{
  padding: 15px 0;
  background: #282834;
  color: #b6b7b9;
  border-top: 1px solid rgba(255,255,255,0.2);
}

@media only screen and(max-width:768px){
  .home{
    color: #fff;
    height: 50vh;
  }
  .home img{
    width: 100%;
    height: 50vh;
  }
  .left, .right{
    width: 100%;
  }
  .book h1{
    margin-bottom: 20px;
  }

  .container .flex,.book.flex_space{
    flex-direction: column;
  }
  .book.grid{
    grid-template-columns: repeat(3,1fr);
  }
  .counter.grid{
    grid-template-columns: repeat(2,1fr);
  }
}